header {
  background: #eee;
  padding: 10px 0;
  color: #333;
  text-align: center;
}

.content-container {
  padding: 20px;
}

.image-container {
  padding: 10px;
}

.image-container img {
  max-width: 100%;
}