mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.sidenav mat-nav-list a.active { border-left: 3px solid #3f51b5; }

@media (max-width: 599px) {
  .sidenav-container { min-height: calc(100% - 56px); }
  .sidenav { width: 100%; }
}