<header>
  <h2>Modding</h2>
  <p style="margin-top: 5px">Examples of the game mods I've developed.</p>
</header>
<div fxLayout="column" class="content-container">
  <div fxLayout="row" class="mod-container">
    <div fxFlex="30">
      <img src="assets/images/absolute_camera_cover.jpeg">
    </div>
    <div fxFlex fxLayout="column" fxLayoutAlign="start start" class="mod-description-container">
      <div class="mod-title-container">
        <h1>Absolute Camera <mat-icon>brightness_1</mat-icon> The Witcher 3</h1>
        <a href="https://www.nexusmods.com/witcher3/mods/856" target="_blank">https://www.nexusmods.com/witcher3/mods/856</a>
      </div>
      <p style="margin-bottom: 20px;">This mod for The Witcher 3 was quite popular and even made <a href="https://www.pcgamer.com/the-best-witcher-3-mods/3/" target="_blank">PC GAMER's list of 'The best Witcher 3 mods'</a>.</p>
      <iframe width="336" height="220" src="https://www.youtube-nocookie.com/embed/gm8VaaQG6dg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>

  <div fxLayout="row" class="mod-container">
    <div fxFlex="30">
      <img src="assets/images/better_call_ciri_cover.jpeg">
    </div>
    <div fxFlex fxLayout="column" fxLayoutAlign="start start" class="mod-description-container">
      <div class="mod-title-container">
        <h1>Better Call Ciri <mat-icon>brightness_1</mat-icon> The Witcher 3</h1>
        <a href="https://www.nexusmods.com/witcher3/mods/1738" target="_blank">https://www.nexusmods.com/witcher3/mods/1738</a>
      </div>
      <iframe width="336" height="220" src="https://www.youtube-nocookie.com/embed/6n41P0E5k24" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>

  <div fxLayout="row" class="mod-container">
    <div fxFlex="30">
      <img src="assets/images/inputs_patcher_cover.jpeg">
    </div>
    <div fxFlex fxLayout="column" fxLayoutAlign="start start" class="mod-description-container">
      <div class="mod-title-container">
        <h1>Input.Settings Patcher <mat-icon>brightness_1</mat-icon> The Witcher 3 Modding Tool</h1>
        <a href="https://www.nexusmods.com/witcher3/mods/1092" target="_blank">https://www.nexusmods.com/witcher3/mods/1092</a>
      </div>
    </div>
  </div>

  <div fxLayout="row" class="mod-container">
    <div fxFlex="30">
      <img src="assets/images/w3strings_cover.jpg">
    </div>
    <div fxFlex fxLayout="column" fxLayoutAlign="start start" class="mod-description-container">
      <div class="mod-title-container">
        <h1>w3strings Encoder GUI <mat-icon>brightness_1</mat-icon> The Witcher 3 Modding Tool</h1>
        <a href="https://www.nexusmods.com/witcher3/mods/1203" target="_blank">https://www.nexusmods.com/witcher3/mods/1203</a>
      </div>
      <iframe width="336" height="220" src="https://www.youtube-nocookie.com/embed/BeJvr5cdyLk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>

</div>
