<header>
  <h2>Management Information System</h2>
  <p style="margin-top: 5px">This sample application shows how to deal with always changing information needs.</p>
</header>
<div fxLayout="column" class="content-container">

  <div fxLayout="row" class="search-bar-container">
    <form #searchForm="ngForm" class="search-form">
      <mat-form-field class="full-width-form-field">
        <mat-icon matPrefix style="margin-right: 5px">search</mat-icon>
        <input matInput placeholder="Search">
        <mat-hint align="start">How to: [FieldName]:[FieldValue] Example: Nome:Diogo Daniel Silva Matos</mat-hint>
      </mat-form-field>
    </form>
  </div>

  <div fxLayout="column" fxLayoutAlign="strech" class="entity-list-container">
    <div fxLayout="column" fxLayoutAlign="center center" class="spinner-container">
      <mat-spinner *ngIf="isBusy" color="accent"></mat-spinner>
    </div>
    <mat-action-list class="entity-list">
      <mat-list-item *ngFor="let entity of appEntities; let i = index" [attr.data-index]="i" [ngClass]="{zeroMargin: i === 0 || i === (appEntities.length - 1), selected: entity == selectedEntity}" class="entity" (click)="selectEntity(entity)">
        <div fxLayout="column" class="type-title-container">
          <p class="type-name">{{ entity.typeName }}</p>
        </div>
        <div class="fields-container">
          <p>{{ entity.fields[0].name }}</p>
          <h3>{{ entity.fields[0].textValue }}</h3>
        </div>
      </mat-list-item>
    </mat-action-list>
  </div>

  <div fxLayout="column" class="selected-entity-container">
    <div *ngIf="selectedEntity == null" fxLayout="column" fxLayoutAlign="center center" fxFlex="100%" class="select-entity-hint-container">
      <h1>Seleccione uma entidade</h1>
    </div>
    <div *ngIf="selectedEntity != null" fxLayout="column">

      <div fxLayout="row" class="selected-entity-container-inner">
        <div fxLayout="row wrap" fxFlex="70" class="entity-fields-container">
          <div fxLayout="row" fxFlex="100">

            <mat-list fxFlex="20" class="sections-list">
              <mat-list-item *ngFor="let section of selectedEntitySections; let i = index" [ngClass]="{selected: section == selectedEntitySelectedSection}" [attr.data-index]="i" (click)="setSelectedSection(section)">
                <button mat-flat-button>{{section}}</button>
                <span style="flex: 1 1 auto"></span>
                <button *ngIf="!fieldsDisabled && i > 0" mat-icon-button matTooltip="Editar nome da secção" (click)="clickEditSectionName(section)">
                  <mat-icon>edit</mat-icon>
                </button>
              </mat-list-item>
            </mat-list>

            <form fxLayout="column" fxFlex="80" #fieldsForm="ngForm" class="fields-form">
              <div fxLayout="row" fxFlex="100" fxLayoutAlign="end center" style="margin-bottom: 10px;">
                  <button *ngIf="fieldsDisabled" mat-raised-button (click)="clickEditEntity()" class="on-fields-edit-btn">
                    <mat-icon>edit</mat-icon><span style="padding-left: 2px">Editar</span>
                  </button>
                  <button *ngIf="!fieldsDisabled" mat-raised-button (click)="clickCancelEditEntity()" class="on-fields-edit-btn on-fields-edit-btn-cancel">
                    <mat-icon>cancel</mat-icon><span style="padding-left: 2px">Cancelar</span>
                  </button>
                  <button *ngIf="!fieldsDisabled" [disabled]="!fieldsForm.valid" mat-raised-button (click)="clickSaveEditEntity()" class="on-fields-edit-btn on-fields-edit-btn-save">
                      <mat-icon>save</mat-icon><span style="padding-left: 2px">Guardar</span>
                  </button>
              </div>

              <div *ngFor="let field of selectedEntityFieldsFiltered; let i = index" [ngSwitch]="field.fieldType" class="field-input-container" fxLayout="row" fxLayoutAlign="start center">

                <mat-form-field hideRequiredMarker="true" *ngSwitchCase="0" [ngClass]="{zeroMargin: i === (selectedEntityFields.length - 1)}">
                  <input matInput [name]="field.name" [(ngModel)]="field.textValue" required minlength="2" maxlength="256" [placeholder]="field.name" [disabled]="fieldsDisabled">
                  <mat-hint align="end">{{field.textValue.length}} / 256</mat-hint>
                </mat-form-field>

                <mat-form-field hideRequiredMarker="true" *ngSwitchCase="1" [ngClass]="{zeroMargin: i === (selectedEntityFields.length - 1)}">
                  <input matInput type="number" [name]="field.name" min="0" [(ngModel)]="field.numberValue">
                </mat-form-field>

                <mat-form-field hideRequiredMarker="true" *ngSwitchCase="2" [ngClass]="{zeroMargin: i === (selectedEntityFields.length - 1)}">
                  <input matInput type="date" [name]="field.name" [(ngModel)]="field.dateValue">
                </mat-form-field>

                <mat-form-field hideRequiredMarker="true" *ngSwitchCase="3" [ngClass]="{zeroMargin: i === (selectedEntityFields.length - 1)}">
                    <mat-select [name]="field.name" [(ngModel)]="field.comboboxSelected" [placeholder]="field.name" required [disabled]="fieldsDisabled">
                      <mat-option *ngFor="let option of field.comboboxOptions" [value]="field.comboboxOptions.indexOf(option)">
                        {{option}}
                      </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field hideRequiredMarker="true" *ngSwitchCase="4" [ngClass]="{zeroMargin: i === (selectedEntityFields.length - 1)}">
                  <input matInput type="checkbox" [name]="field.name" [(ngModel)]="field.booleanValue">
                </mat-form-field>

                <div class="inline-field-buttons-container" fxLayout="row">
                  <button *ngIf="!fieldsDisabled" mat-icon-button matTooltip="Eliminar campo" class="on-fields-inline-edit-btn red" (click)="clickRemoveField(field)">
                      <mat-icon>delete</mat-icon>
                  </button>
                  <button *ngIf="!fieldsDisabled" mat-button class="on-fields-inline-edit-btn" (click)="clickMoveFieldToSection(field)">
                      <mat-icon>swap_horiz</mat-icon><span style="padding-left: 2px">Mover</span>
                  </button>
                </div>

              </div>

            </form>

          </div>
        </div>
        <div class="entity-relations-container">B</div>
      </div>

    </div>
  </div>

</div>
