<header>
  <h2>Management Information System</h2>
  <p style="margin-top: 5px">This sample application shows how to deal with always changing information needs.</p>
</header>
<div fxLayout="column" class="content-container">

  <div fxLayout="column" class="search-bar-container">
    <div fxLayout="row" style="margin-bottom: 5px">
      <button mat-raised-button color="accent" (click)="clickAddEntity()">
        <mat-icon>add</mat-icon><span style="padding-left: 2px">Nova Entidade</span>
      </button>
    </div>
    <form #searchForm="ngForm" class="search-form" fxLayout="row" fxLayoutAlign="start center">
      <mat-form-field hideRequiredMarker="true" class="full-width-form-field">
        <mat-icon matPrefix style="margin-right: 5px">search</mat-icon>
        <input matInput name="search" [(ngModel)]="searchText" minlength="1" maxlength="256" placeholder="Search">
        <mat-hint align="start">How to: [FieldName]:[FieldValue] Example: Nome:Diogo Daniel Silva Matos</mat-hint>
      </mat-form-field>
      <button mat-icon-button *ngIf="isFiltered" [disabled]="!isFiltered" matTooltip="Limpar filtro" (click)="clearFilter()">
        <mat-icon>clear</mat-icon>
      </button>
      <button mat-icon-button (click)="searchEntities()">
        <mat-icon>search</mat-icon>
      </button>
    </form>
  </div>

  <div fxLayout="column" fxLayoutAlign="strech" class="entity-list-container">
    <div fxLayout="column" fxLayoutAlign="center center" class="spinner-container">
      <mat-spinner *ngIf="isBusy" color="accent"></mat-spinner>
    </div>
    <div *ngIf="!isBusy && appEntities.length === 0" fxLayout="row" fxLayoutAlign="center center">
      <h1 class="no-entities-h1" style="margin-top: 10px">Nenhuma entidade para mostrar</h1>
    </div>
    <mat-action-list class="entity-list">
      <mat-list-item *ngFor="let entity of appEntities; let i = index" [attr.data-index]="i" [ngClass]="{zeroMargin: i === 0 || i === (appEntities.length - 1), selected: entity == selectedEntity}" class="entity" (click)="selectEntity(entity)">
        <div fxLayout="column" class="type-title-container">
          <p class="type-name">{{ entity.typeName }}</p>
        </div>
        <div class="fields-container">
          <h3>{{ entity.name }}</h3>
        </div>
      </mat-list-item>
    </mat-action-list>
  </div>

  <div fxLayout="column" class="selected-entity-container">
    <div *ngIf="!isBusy && appEntities.length > 0 && selectedEntity == null" fxLayout="column" fxLayoutAlign="start center" fxFlex="100%" class="select-entity-hint-container">
      <h1>Seleccione uma entidade</h1>
    </div>
    <div *ngIf="selectedEntity != null" fxLayout="column">

      <form fxLayout="column" #fieldsForm="ngForm" class="fields-form">

        <mat-toolbar class="selected-entity-toolbar">
            <button *ngIf="!fieldsDisabled" mat-raised-button color="accent" (click)="clickAddField()">
              <mat-icon>add</mat-icon><span *ngIf="!(isHandset$ | async)" style="padding-left: 2px">Novo Campo</span>
            </button>
            <span style="flex: 1 1 auto"></span>
            <button *ngIf="fieldsDisabled" mat-raised-button (click)="clickEditEntity()" class="on-fields-edit-btn">
              <mat-icon>edit</mat-icon><span *ngIf="!(isHandset$ | async)" style="padding-left: 2px">Editar</span>
            </button>
            <button *ngIf="!fieldsDisabled" mat-icon-button matTooltip="Eliminar Entidade" color="warn" (click)="clickRemoveEntity()">
              <mat-icon>delete</mat-icon>
            </button>
            <button *ngIf="!fieldsDisabled" mat-raised-button (click)="clickCancelEditEntity()" class="on-fields-edit-btn on-fields-edit-btn-cancel">
              <mat-icon>cancel</mat-icon><span *ngIf="!(isHandset$ | async)" style="padding-left: 2px">Cancelar</span>
            </button>
            <button *ngIf="!fieldsDisabled" [disabled]="!fieldsForm.valid || selectedEntityFields.length === 0" mat-raised-button (click)="clickSaveEditEntity()" class="on-fields-edit-btn on-fields-edit-btn-save">
                <mat-icon>save</mat-icon><span *ngIf="!(isHandset$ | async)" style="padding-left: 2px">Guardar</span>
            </button>
        </mat-toolbar>

        <div fxLayout="row" fxLayout.lt-md="column" class="selected-entity-container-inner">

          <div fxFlex="20" class="sections-list-container">
            <mat-list fxFlex class="sections-list">
              <mat-list-item *ngFor="let section of selectedEntitySections; let i = index" [ngClass]="{selected: section == selectedEntitySelectedSection}" [attr.data-index]="i" (click)="setSelectedSection(section)">
                <button mat-flat-button>{{section}}</button>
                <span style="flex: 1 1 auto"></span>
                <button *ngIf="!fieldsDisabled && i > 0" mat-icon-button matTooltip="Editar nome da secção" (click)="clickEditSectionName(section)">
                  <mat-icon>edit</mat-icon>
                </button>
              </mat-list-item>
            </mat-list>
          </div>

          <div fxLayout="column" fxFlex="60" class="entity-fields-container">
            <div *ngFor="let field of selectedEntityFieldsFiltered; let i = index" [ngSwitch]="field.fieldType" class="field-input-container" fxLayout="row" fxLayoutAlign="start center">

              <mat-form-field hideRequiredMarker="true" *ngSwitchCase="0" [ngClass]="{zeroMargin: i === (selectedEntityFields.length - 1)}">
                <input matInput [name]="field.name" [(ngModel)]="field.textValue" required minlength="2" maxlength="256" [placeholder]="field.name" [disabled]="fieldsDisabled">
                <mat-hint align="end">{{field.textValue.length}} / 256</mat-hint>
              </mat-form-field>

              <mat-form-field hideRequiredMarker="true" *ngSwitchCase="1" [ngClass]="{zeroMargin: i === (selectedEntityFields.length - 1)}">
                <input matInput type="number" [name]="field.name" min="0" [(ngModel)]="field.numberValue" required [placeholder]="field.name" [disabled]="fieldsDisabled">
              </mat-form-field>

              <mat-form-field hideRequiredMarker="true" *ngSwitchCase="2" [ngClass]="{zeroMargin: i === (selectedEntityFields.length - 1)}">
                <input matInput type="date" [name]="field.name" [(ngModel)]="field.dateValue" required [placeholder]="field.name" [disabled]="fieldsDisabled">
              </mat-form-field>

              <mat-form-field hideRequiredMarker="true" *ngSwitchCase="3" [ngClass]="{zeroMargin: i === (selectedEntityFields.length - 1)}">
                <mat-select [name]="field.name" [(ngModel)]="field.comboboxSelected" [placeholder]="field.name" required [disabled]="fieldsDisabled">
                  <mat-option *ngFor="let option of field.comboboxOptions" [value]="field.comboboxOptions.indexOf(option)">
                    {{option}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <section *ngSwitchCase="4" class="example-section" [ngClass]="{zeroMargin: i === (selectedEntityFields.length - 1)}">
                <mat-checkbox [name]="field.name" [(ngModel)]="field.booleanValue" [disabled]="fieldsDisabled">{{field.name}}</mat-checkbox>
              </section>

              <div class="inline-field-buttons-container" fxLayout="row">
                <button *ngIf="!fieldsDisabled" mat-icon-button matTooltip="Eliminar campo" class="on-fields-inline-edit-btn red" (click)="clickRemoveField(field)">
                  <mat-icon>delete</mat-icon>
                </button>
                <button *ngIf="!fieldsDisabled" mat-button class="on-fields-inline-edit-btn" (click)="clickMoveFieldToSection(field)">
                  <mat-icon>swap_horiz</mat-icon><span *ngIf="!(isHandset$ | async)" style="padding-left: 2px">Mover</span>
                </button>
              </div>

            </div>
          </div>

          <div fxLayout="column" fxFlex class="entity-relations-container">
            <div fxLayout="row" fxLayoutAlign="start center" class="entity-relations-title-container">
              <h3>Relações</h3>
              <span style="flex: 1 1 auto"></span>
              <button mat-icon-button *ngIf="!fieldsDisabled" matTooltip="Nova relação" matTooltipPosition="before" (click)="clickAddRelation()">
                <mat-icon>add</mat-icon>
              </button>
            </div>
            <p *ngIf="selectedEntityRelations.length === 0" style="padding: 10px">Nenhuma relação</p>
            <mat-list class="relations-list">
              <mat-list-item *ngFor="let relation of selectedEntityRelations">
                <button *ngIf="!fieldsDisabled" matTooltip="Remover relação" mat-icon-button (click)="clickRemoveRelation(relation)">
                  <mat-icon>delete</mat-icon>
                </button>
                <div fxLayout="column">
                  <p>{{relation.relatedEntity.name}}</p>
                  <p>{{relation.description}}</p>
                </div>
                <span style="flex: 1 1 auto"></span>
                <button mat-icon-button matTooltip="Ir para esta entidade" matTooltipPosition="before" (click)="clickGoToRelation(relation)">
                  <mat-icon>forward</mat-icon>
                </button>
              </mat-list-item>
            </mat-list>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>
