header {
  background: #eee;
  padding: 10px 0;
  color: #333;
  text-align: center;
}

.content-container {
  height: 100%;
}

.search-bar-container {
  padding: 20px;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

.search-form {
  width: 100%;
}

.full-width-form-field {
  width: 100%;
}

.entity-list-container {
  background-color: #eee;
  border-bottom: 1px solid #ccc;
  max-height: 30vh;
  overflow-y: auto;
}

.entity-list-container mat-spinner {
  margin-top: 20px;
}

.entity-list {
  padding: 20px;
}

.entity-list mat-list-item.entity {
  background-color: #fff;
  box-shadow: 1px 1px 3px 0px #ccc;
  margin: 5px 0;
  box-sizing: border-box;
}

.entity-list mat-list-item.entity.zeroMargin {
  margin: 0;
}

.entity-list mat-list-item.entity.selected {
  border-left: 5px solid #ff4081;
}

.entity-list .type-title-container {
  min-width: 10%;
}

.entity-list .type-title-container .type-name {
  text-align: center;
  padding: 5px;
  font-weight: 500;
  background: rgb(235, 226, 150);
  border-radius: 50px;
}

.entity-list mat-list-item.entity .fields-container {
  padding-left: 16px;
}

.entity-list mat-list-item.entity .fields-container p {
  font-size: 12px;
  font-weight: 500;
}

.entity-list mat-list-item.entity .fields-container h3 {
  font-size: 18px;
}

.selected-entity-container {
  z-index: 1;
  box-shadow: -8px -5px 5px rgba(0, 0, 50, 0.1);
  min-height: 300px;
}

.select-entity-hint-container {
  height: 300px;
  color: #aaa;
}

.selected-entity-container-inner {
  padding: 10px;
  background-color: #eee;
  box-sizing: content-box;
}

.mat-button-toggle-group-appearance-standard {
  border: none;
}

.mat-button-toggle-group-appearance-standard .mat-button-toggle {
  box-shadow: 2px 2px 5px rgba(0, 0, 50, 0.1);
}

.mat-button-toggle-group-appearance-standard .mat-button-toggle+.mat-button-toggle {
  border-left: none;
}

.mat-button-toggle-checked {
  background-color: #ff4081;
  color: #fff;
}

mat-list.sections-list mat-list-item {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 3px 0px #ccc;
  margin-bottom: 5px;
}

mat-list.sections-list mat-list-item button {
  background: transparent;
}

mat-list.sections-list mat-list-item.selected {
  background-color: #ff4081;
  color: #fff;
}

mat-list.sections-list mat-list-item.selected button {
  color: #fff;
}

.fields-form {
  width: 100%;
}

.fields-form .field-input-container {
  background-color: #fff;
  margin-bottom: 10px;
  border-radius: 5px;
  max-width: 100%;
  padding: 12px;
  box-shadow: 1px 1px 3px 0px #ccc;
}

.fields-form mat-form-field, .fields-form section {
  width: 100%;
  max-width: 100%;
}

.fields-form mat-form-field.zeroMargin {
  margin-bottom: 0;
}

.fields-form .field-input-container .inline-field-buttons-container {
  margin-left: 5px;
}

.fields-form .field-input-container .inline-field-buttons-container button {
  margin-left: 3px;
}

.fields-form .field-input-container .inline-field-buttons-container button.red {
  color: red;
}

.fields-form button.on-fields-edit-btn {
  margin-left: 3px;
}

.fields-form button.on-fields-edit-btn.on-fields-edit-btn-save {
  color: rgb(54, 153, 54);
}

.entity-fields-container {
  padding: 0 10px;
}

.entity-relations-container {
  background-color: #fff;
  box-shadow: 1px 1px 3px 0px #ccc;
  border-radius: 5px;
}

.entity-relations-container .entity-relations-title-container {
  padding: 15px;
  background: #ff4081;
  color: #fff;
  border-radius: 5px 5px 0 0;
}

.entity-relations-container .entity-relations-title-container h3 {
  font-weight: 300;
  line-height: 40px;
}

.entity-relations-container mat-list.relations-list {
  margin: 5px 0;
}

.entity-relations-container mat-list.relations-list mat-list-item p {
  font-size: 14px;
}
