<header>
  <h2>Desktop Applications</h2>
  <p style="margin-top: 5px">An example of the desktop applications that I've developed over the years.</p>
</header>
<div fxLayout="column" class="content-container">
  <div fxLayout="row" fxLayoutAlign="center center" class="description-container">
    <p>This app, developed for an accounting office, allows the user to quickly compare Excel spreadsheets.</p>
  </div>
  <div class="image-container" fxLayout="row" fxLayoutAlign="center center">
    <img src="/assets/images/balancetes_excel.jpeg">
  </div>
</div>
