header {
  background: #eee;
  padding: 60px 0;
  color: #333;
  text-align: center;
}

header h1 {
  font-size: 80px;
}

header h3 {
  margin-top: 15px;
}

.menu-container {
  padding: 20px;
  background: #eee;
  cursor: pointer;
}

.menu-item-container {
  min-height: 200px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px 0px #ccc;
  background: #fff;
}