<header>
  <h1>Welcome</h1>
  <p>This web application serves as a add-on to my curriculum vitae</p>
  <p style="margin-top: 10px">Front end built with Angular 7.2.x / Data fed by a RESTful API built using ASP.NET Core 2.2</p>
  <h3>by <span style="font-weight: 500">Pedro Marques</span></h3>
</header>
<div class="menu-container" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxLayoutAlign="center center">

  <div fxLayout="column" fxFlex fxLayoutAlign="center center" class="menu-item-container" (click)="onGoToPage('MIS')">
    <h1>MIS</h1>
  </div>

  <div fxLayout="column" fxFlex fxLayoutAlign="center center" class="menu-item-container" (click)="onGoToPage('BLENDER')">
    <h1>BLENDER</h1>
  </div>

  <div fxLayout="column" fxFlex fxLayoutAlign="center center" class="menu-item-container" (click)="onGoToPage('MODDING')">
    <h1>MODDING</h1>
  </div>

  <div fxLayout="column" fxFlex fxLayoutAlign="center center" class="menu-item-container" (click)="onGoToPage('DESKTOP APPS')">
    <h1>DESKTOP APPS</h1>
  </div>

</div>
