@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { min-height: 100vh; background-color: #fff; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

h1,h2,h3,h4,h5,h6,p { font-weight: 300; margin: 0; }

app-root {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
}

app-home {
  overflow-y: auto;
}

mat-list.mat-list-base {
  padding-top: 0;
}
